.flip-card {
    background: rgba(255, 255, 255, 0); /* Slightly whitish color with opacity */
    backdrop-filter: blur(10px); /* Apply blur effect to create the glass effect */
    border-radius: 20px; /* Adjust border-radius as needed */
    overflow: hidden; /* Hide overflow to prevent unwanted artifacts */
    padding: 1rem; 
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: white;
    background: rgba(255, 255, 255, 0.1); /* Slightly whitish color with opacity */
    backdrop-filter: blur(10px); /* Apply blur effect to create the glass effect */
    border-radius: 20px; /* Adjust border-radius as needed */
    box-shadow: 0 0 12px rgba(0, 158, 191, 0.7);
}

/* Style the back side */
.flip-card-back {
    background: linear-gradient(218.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 158, 191, 0.7);
    color: white;
    transform: rotateY(180deg);
  }